*.SchDocPreview
*.xml
*.idw
*.ipt
History/
OldVersions/
Orders/
Project\ Logs*
Project\ Outputs*
*.scc
*.lck
*.lnk
Gerbs\ *
*.swp
*.swo
README.aux
README.dvi
README.pdf
USBAudioAmpAssembly.zip
USBAudioAmpDrawings.OutJob
USBAudioAmpDrawings.pdf